@font-face{
    src: url(JosefinSans-VariableFont_wght.ttf);
    font-family: JosefinSans;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: JosefinSans;
}

::-webkit-scrollbar{
    width: 5px;
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(88, 88, 88);
}

body{
    min-height: 100vh;
    padding: 20px 5%;
    background-color: rgb(88, 88, 88);
}

.big-title{
    font-size: 40px;
    margin: 0 0 30px;
    margin-left: 10%;
    color: #fff;
}

.container{
    margin: 20px 0;
    background-color: rgb(44, 44, 44);
    padding: 20px;
    border-radius: 15px;
}

.container .title{
    margin-bottom: 10px;
    margin-left: 10px;
    color: #fff;
}

.imgs-container{
    position: relative;
    display: flex;
    width: 100%;
    height: 200px;
    overflow-x: scroll;
    gap: 15px;
}

.imgs-container::-webkit-scrollbar{
    display: none;
}

.imgs-container img{
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    cursor: pointer;
}

.img-details{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.603);
    backdrop-filter: blur(10px);
    z-index: -1;
    opacity: 0;
    transition: opacity .3s;
}

.img-details i.fa-xmark{
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    transform: translateX();
}

.img-details .container-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    transform: scale(0);
    transition: .3s;
}

.img-details .container-details h4.description{
    font-size: 20px;
    text-align: center;
    max-width: 400px;
}

.img-details .container-details img[alt="details"]{
    max-width: 600px;
    max-height: 450px;
    border-radius: 10px;
}

div.loaderContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222222;
    display: grid;
    place-items: center;
    transition: .3s;
}

div.loaderContainer .loader{
    aspect-ratio: 1;
    width: 70px;
    border: 3px solid rgba(78, 78, 78, 0.233);
    border-top:  3px solid rgb(255, 255, 255) !important;
    border-radius: 50%;
    animation: loader 1s infinite linear;
}

@keyframes loader {
    100%{
        transform: rotate(360deg);
    }
}



@media (max-width: 700px){
    .img-details{
        padding: 30px;
    }

    
    .img-details .container-details img[alt="details"]{
        max-width: 100%;
        max-height: 450px;
    }
}